diota_ast_nodered.json
[
    {
        "id": "b8969cc9e718216e",
        "type": "tab",
        "label": "assignment",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f63c0fce0bd838c9",
        "type": "mqtt in",
        "z": "b8969cc9e718216e",
        "name": "",
        "topic": "diota_ast/humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "74bd98f9c0f99692",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 80,
        "wires": [
            [
                "1b2bb6468ffd9cc3",
                "f251cab3d9d5b4f8"
            ]
        ]
    },
    {
        "id": "1b2bb6468ffd9cc3",
        "type": "ui_gauge",
        "z": "b8969cc9e718216e",
        "name": "",
        "group": "1d5c5456ec82e603",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "humidity",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 400,
        "y": 80,
        "wires": []
    },
    {
        "id": "5b6f5ee10c2006be",
        "type": "mqtt in",
        "z": "b8969cc9e718216e",
        "name": "",
        "topic": "diota_ast/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "74bd98f9c0f99692",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 160,
        "wires": [
            [
                "c7d37692fa29f30b",
                "57d0280b2972ebf4"
            ]
        ]
    },
    {
        "id": "c7d37692fa29f30b",
        "type": "ui_gauge",
        "z": "b8969cc9e718216e",
        "name": "",
        "group": "1d5c5456ec82e603",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "temperature",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 410,
        "y": 160,
        "wires": []
    },
    {
        "id": "8a401de618c6f7c6",
        "type": "mqtt in",
        "z": "b8969cc9e718216e",
        "name": "",
        "topic": "diota_ast/rain_value",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "74bd98f9c0f99692",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 240,
        "wires": [
            [
                "aa347657d9c917c8",
                "08b3d620317b6a0b"
            ]
        ]
    },
    {
        "id": "e59e14e9d0d7133a",
        "type": "mqtt in",
        "z": "b8969cc9e718216e",
        "name": "",
        "topic": "diota_ast/ph_value",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "74bd98f9c0f99692",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 300,
        "wires": [
            [
                "373bfdb4aa1ae0b3",
                "6ad7ae03ec7a947d"
            ]
        ]
    },
    {
        "id": "373bfdb4aa1ae0b3",
        "type": "ui_gauge",
        "z": "b8969cc9e718216e",
        "name": "",
        "group": "daba2d3b3e6e2519",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "pH value",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "14",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 400,
        "y": 300,
        "wires": []
    },
    {
        "id": "fe733506e386aeaa",
        "type": "mqtt in",
        "z": "b8969cc9e718216e",
        "name": "",
        "topic": "diota_ast/soil_moisture",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "74bd98f9c0f99692",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 360,
        "wires": [
            [
                "763730f1573f8f58",
                "332972959cbdb065"
            ]
        ]
    },
    {
        "id": "763730f1573f8f58",
        "type": "ui_gauge",
        "z": "b8969cc9e718216e",
        "name": "",
        "group": "06202fca7d95d9c4",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "soil moisture percentage",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 450,
        "y": 360,
        "wires": []
    },
    {
        "id": "8521c389fc7bdc9a",
        "type": "mqtt in",
        "z": "b8969cc9e718216e",
        "name": "",
        "topic": "diota_ast/light_intensity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "74bd98f9c0f99692",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 440,
        "wires": [
            [
                "231ea77b5722edf8",
                "b456f40424fcb161"
            ]
        ]
    },
    {
        "id": "2b0b074d21302903",
        "type": "mqtt in",
        "z": "b8969cc9e718216e",
        "name": "",
        "topic": "diota_ast/nitrogen",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "74bd98f9c0f99692",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 520,
        "wires": [
            [
                "3348eb5bef9338ee",
                "287d44a17881a17e"
            ]
        ]
    },
    {
        "id": "3348eb5bef9338ee",
        "type": "ui_gauge",
        "z": "b8969cc9e718216e",
        "name": "",
        "group": "ccb93ea9e2e3f4be",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "nitrogen",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "300",
        "colors": [
            "#a700b3",
            "#cb00e6",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 400,
        "y": 520,
        "wires": []
    },
    {
        "id": "e7ce61355d13a967",
        "type": "mqtt in",
        "z": "b8969cc9e718216e",
        "name": "",
        "topic": "diota_ast/phosphorous",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "74bd98f9c0f99692",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 600,
        "wires": [
            [
                "dd06f941f9200a8f",
                "7e3a2856d6735a77"
            ]
        ]
    },
    {
        "id": "c7e7253f636f7252",
        "type": "mqtt in",
        "z": "b8969cc9e718216e",
        "name": "",
        "topic": "diota_ast/potassium",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "74bd98f9c0f99692",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 680,
        "wires": [
            [
                "2e9112abadd963df",
                "b406fa56e870726a"
            ]
        ]
    },
    {
        "id": "aa347657d9c917c8",
        "type": "ui_chart",
        "z": "b8969cc9e718216e",
        "name": "",
        "group": "bce0fabe2ee00cf5",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "rain chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 400,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "231ea77b5722edf8",
        "type": "ui_chart",
        "z": "b8969cc9e718216e",
        "name": "",
        "group": "910801d413a048ef",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "light intensity chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#d4bfe3"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 430,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "dd06f941f9200a8f",
        "type": "ui_gauge",
        "z": "b8969cc9e718216e",
        "name": "",
        "group": "ccb93ea9e2e3f4be",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "phosphorous",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "300",
        "colors": [
            "#a700b3",
            "#cb00e6",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 410,
        "y": 600,
        "wires": []
    },
    {
        "id": "2e9112abadd963df",
        "type": "ui_gauge",
        "z": "b8969cc9e718216e",
        "name": "",
        "group": "ccb93ea9e2e3f4be",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "potassium",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "300",
        "colors": [
            "#a700b3",
            "#cb00e6",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 410,
        "y": 680,
        "wires": []
    },
    {
        "id": "a40d39d2edc3e8b3",
        "type": "influxdb out",
        "z": "b8969cc9e718216e",
        "influxdb": "6dc7759446cbdbcf",
        "name": "database",
        "measurement": "soil_moisture_value",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 900,
        "y": 340,
        "wires": []
    },
    {
        "id": "7bb19a4040b26949",
        "type": "debug",
        "z": "b8969cc9e718216e",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 380,
        "wires": []
    },
    {
        "id": "332972959cbdb065",
        "type": "change",
        "z": "b8969cc9e718216e",
        "name": "string to number",
        "rules": [
            {
                "t": "set",
                "p": "",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 340,
        "wires": [
            [
                "a40d39d2edc3e8b3",
                "7bb19a4040b26949"
            ]
        ]
    },
    {
        "id": "34148e537055db36",
        "type": "influxdb out",
        "z": "b8969cc9e718216e",
        "influxdb": "6dc7759446cbdbcf",
        "name": "database",
        "measurement": "ph_value",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 900,
        "y": 260,
        "wires": []
    },
    {
        "id": "05ea0c1c39341df0",
        "type": "debug",
        "z": "b8969cc9e718216e",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 300,
        "wires": []
    },
    {
        "id": "6ad7ae03ec7a947d",
        "type": "change",
        "z": "b8969cc9e718216e",
        "name": "string to number",
        "rules": [
            {
                "t": "set",
                "p": "",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 280,
        "wires": [
            [
                "34148e537055db36",
                "05ea0c1c39341df0"
            ]
        ]
    },
    {
        "id": "5f7f6e35b6a2cac2",
        "type": "influxdb out",
        "z": "b8969cc9e718216e",
        "influxdb": "6dc7759446cbdbcf",
        "name": "database",
        "measurement": "rain_value",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 900,
        "y": 180,
        "wires": []
    },
    {
        "id": "5b154f9e764f2de8",
        "type": "debug",
        "z": "b8969cc9e718216e",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 220,
        "wires": []
    },
    {
        "id": "08b3d620317b6a0b",
        "type": "change",
        "z": "b8969cc9e718216e",
        "name": "string to number",
        "rules": [
            {
                "t": "set",
                "p": "",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 200,
        "wires": [
            [
                "5f7f6e35b6a2cac2",
                "5b154f9e764f2de8"
            ]
        ]
    },
    {
        "id": "652236a3f41d5624",
        "type": "influxdb out",
        "z": "b8969cc9e718216e",
        "influxdb": "6dc7759446cbdbcf",
        "name": "database",
        "measurement": "temperature_value",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 880,
        "y": 100,
        "wires": []
    },
    {
        "id": "86ffc2227e451fe6",
        "type": "debug",
        "z": "b8969cc9e718216e",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 140,
        "wires": []
    },
    {
        "id": "57d0280b2972ebf4",
        "type": "change",
        "z": "b8969cc9e718216e",
        "name": "string to number",
        "rules": [
            {
                "t": "set",
                "p": "",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 120,
        "wires": [
            [
                "652236a3f41d5624",
                "86ffc2227e451fe6"
            ]
        ]
    },
    {
        "id": "05b3e57b59f77d24",
        "type": "influxdb out",
        "z": "b8969cc9e718216e",
        "influxdb": "6dc7759446cbdbcf",
        "name": "database",
        "measurement": "humidity_value",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 880,
        "y": 20,
        "wires": []
    },
    {
        "id": "e0c52115265bd741",
        "type": "debug",
        "z": "b8969cc9e718216e",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 60,
        "wires": []
    },
    {
        "id": "f251cab3d9d5b4f8",
        "type": "change",
        "z": "b8969cc9e718216e",
        "name": "string to number",
        "rules": [
            {
                "t": "set",
                "p": "",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 40,
        "wires": [
            [
                "05b3e57b59f77d24",
                "e0c52115265bd741"
            ]
        ]
    },
    {
        "id": "1c825735020138d4",
        "type": "influxdb out",
        "z": "b8969cc9e718216e",
        "influxdb": "6dc7759446cbdbcf",
        "name": "database",
        "measurement": "light_intensity_value",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 900,
        "y": 420,
        "wires": []
    },
    {
        "id": "8a03f94bd8cd22f7",
        "type": "debug",
        "z": "b8969cc9e718216e",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 460,
        "wires": []
    },
    {
        "id": "b456f40424fcb161",
        "type": "change",
        "z": "b8969cc9e718216e",
        "name": "string to number",
        "rules": [
            {
                "t": "set",
                "p": "",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 420,
        "wires": [
            [
                "1c825735020138d4",
                "8a03f94bd8cd22f7"
            ]
        ]
    },
    {
        "id": "4070953369d9eaa9",
        "type": "influxdb out",
        "z": "b8969cc9e718216e",
        "influxdb": "6dc7759446cbdbcf",
        "name": "database",
        "measurement": "nitrogen_value",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 900,
        "y": 500,
        "wires": []
    },
    {
        "id": "49cb9c217a24bb9b",
        "type": "debug",
        "z": "b8969cc9e718216e",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 540,
        "wires": []
    },
    {
        "id": "287d44a17881a17e",
        "type": "change",
        "z": "b8969cc9e718216e",
        "name": "string to number",
        "rules": [
            {
                "t": "set",
                "p": "",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 500,
        "wires": [
            [
                "4070953369d9eaa9",
                "49cb9c217a24bb9b"
            ]
        ]
    },
    {
        "id": "1b267ea1fad78d98",
        "type": "influxdb out",
        "z": "b8969cc9e718216e",
        "influxdb": "6dc7759446cbdbcf",
        "name": "database",
        "measurement": "phosphorus_value",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 900,
        "y": 580,
        "wires": []
    },
    {
        "id": "9163a8c42442f9b4",
        "type": "debug",
        "z": "b8969cc9e718216e",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 620,
        "wires": []
    },
    {
        "id": "7e3a2856d6735a77",
        "type": "change",
        "z": "b8969cc9e718216e",
        "name": "string to number",
        "rules": [
            {
                "t": "set",
                "p": "",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 580,
        "wires": [
            [
                "1b267ea1fad78d98",
                "9163a8c42442f9b4"
            ]
        ]
    },
    {
        "id": "d26c82bffae37f25",
        "type": "influxdb out",
        "z": "b8969cc9e718216e",
        "influxdb": "6dc7759446cbdbcf",
        "name": "database",
        "measurement": "potassium_value",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 900,
        "y": 660,
        "wires": []
    },
    {
        "id": "b043df2cb5d70225",
        "type": "debug",
        "z": "b8969cc9e718216e",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 700,
        "wires": []
    },
    {
        "id": "b406fa56e870726a",
        "type": "change",
        "z": "b8969cc9e718216e",
        "name": "string to number",
        "rules": [
            {
                "t": "set",
                "p": "",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 660,
        "wires": [
            [
                "d26c82bffae37f25",
                "b043df2cb5d70225"
            ]
        ]
    },
    {
        "id": "74bd98f9c0f99692",
        "type": "mqtt-broker",
        "name": "EMQ_ast",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1d5c5456ec82e603",
        "type": "ui_group",
        "name": "DHT11 sensor",
        "tab": "a58f8f4a16a668df",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "daba2d3b3e6e2519",
        "type": "ui_group",
        "name": "pH sensor",
        "tab": "a58f8f4a16a668df",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "06202fca7d95d9c4",
        "type": "ui_group",
        "name": "Soil moisture sensor",
        "tab": "a58f8f4a16a668df",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ccb93ea9e2e3f4be",
        "type": "ui_group",
        "name": "NPK sensor",
        "tab": "a58f8f4a16a668df",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "bce0fabe2ee00cf5",
        "type": "ui_group",
        "name": "Rain sensor",
        "tab": "a58f8f4a16a668df",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "910801d413a048ef",
        "type": "ui_group",
        "name": "LDR",
        "tab": "a58f8f4a16a668df",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6dc7759446cbdbcf",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "diota_ast",
        "name": "db",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "timeout": "10",
        "rejectUnauthorized": true
    },
    {
        "id": "a58f8f4a16a668df",
        "type": "ui_tab",
        "name": "diota_ast",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    }
]